<!-- Top Nav Bar Start -->
<div class="header-div">
  <div class="logo-block">
    <img src="../assets/img/logo/logo.jpg" alt="Product Logo" class="header-logo">
  </div>
  <div class="profile-block">
    <img src="../assets/img/avatar.png" alt="" class="profile-image">
    <p>
      <span class="user-name">Sakthi Murugan</span> <br>
      <span class="user-role">Coordinator</span>
    </p>
    <div class="down-arrow">
      <img src="../assets/img/icon/arrow-black.png" alt="down-arrow" class="profile-arrow">
    </div>
  </div>

</div>
<!-- Top Nav Bar End -->

<!-- Side Nav Start -->
<div class="sidebar">
  <a href="#myWork"><img class="menu-icons" src="../assets/img/icon/mywork.png" alt="My Work"><span class="menu-name">My
      Works</span></a>
  <a data-toggle="collapse" aria-expanded="false" aria-controls="MoreProjectList" href="#MoreProjectList"><img class="menu-icons"
      src="../assets/img/icon/project.png" alt="Project"><span class="menu-name">Project</span><img class="menu-arrow"
      src="../assets/img/icon/arrow-black.png" alt="Menu Back Arrow"></a>
  <div class="collapse" id="MoreProjectList">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
      keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
  <a href="#setting"><img class="menu-icons" src="../assets/img/icon/settings.png" alt="Settings"><span class="menu-name">Settings</span></a>
  <a href="#helpAndSupport"><img class="menu-icons" src="../assets/img/icon/help.png" alt="Help"><span class="menu-name">Help
      &
      Support</span></a>
</div>
<!-- Side Nav End -->

<!-- Main Content Start -->
<div class="content">
  <router-outlet></router-outlet>
</div>
<!-- Main Content End -->

<!-- <router-outlet></router-outlet> -->